:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  min-height: 60px;
  padding: 0 20px;

  &__links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
}

.content {
  overflow-y: auto;
  flex-grow: 1;
}
